<app-modal [maxwidth]="'max-w-[1000px]'" (close)="close.emit()">
  <div class="flex gap-5">
    <div class="inline-flex items-center">
      <label
        class="relative flex cursor-pointer items-center rounded-full p-3"
        for="radio"
        data-ripple-dark="true"
      >
        <input
          type="radio"
          name="type"
          #input
          checked
          (change)="onChangeType(1)"
          class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-orange-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-orange-gray-500 before:opacity-0 before:transition-opacity checked:border-orange-500 checked:bg-orange-500 checked:before:bg-orange-500 hover:before:opacity-10"
          id="checkbox"
        />
        <div
          class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3.5 w-3.5"
            viewBox="0 0 20 20"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
      </label>
      All
    </div>
    <div class="inline-flex items-center">
      <label
        class="relative flex cursor-pointer items-center rounded-full p-3"
        for="radio"
        data-ripple-dark="true"
      >
        <input
          type="radio"
          #input
          (change)="onChangeType(2)"
          name="type"
          class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-orange-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-orange-gray-500 before:opacity-0 before:transition-opacity checked:border-orange-500 checked:bg-orange-500 checked:before:bg-orange-500 hover:before:opacity-10"
          id="checkbox"
        />
        <div
          class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3.5 w-3.5"
            viewBox="0 0 20 20"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
      </label>
      Clipart
    </div>
    <div class="inline-flex items-center">
      <label
        class="relative flex cursor-pointer items-center rounded-full p-3"
        for="radio"
        data-ripple-dark="true"
      >
        <input
          type="radio"
          name="type"
          (change)="onChangeType(3)"
          #input
          class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-orange-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-orange-gray-500 before:opacity-0 before:transition-opacity checked:border-orange-500 checked:bg-orange-500 checked:before:bg-orange-500 hover:before:opacity-10"
          id="checkbox"
        />
        <div
          class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3.5 w-3.5"
            viewBox="0 0 20 20"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
      </label>
      GIF
    </div>
  </div>
  <div class="grid grid-cols-4 gap-3 max-h-full overflow-auto">
    <ng-container *ngFor="let item of data">
      <img
        (error)="handleErrorImage($event)"
        loading="eager"
        [src]="item"
        (dblclick)="handleDoubleClick(item)"
        class="w-full h-full object-contain cursor-pointer active:opacity-80"
        alt="Double click to choose this image"
      />
    </ng-container>
  </div>
</app-modal>
