<div
  class="fixed top-0 bottom-0 w-[60px] bg-slate-200 z-10 transition-all duration-500"
  [class.left-0]="isOpenMenu"
  [class.left-[-60px]]="!isOpenMenu"
>
  <div
    class="w-[60px] h-[60px] absolute bg-slate-400 flex items-center justify-center left-[110%] top-[5px] rounded cursor-pointer"
    (click)="handleClickMenu()"
  >
    <i
      class="bx text-white text-3xl"
      [class.bx-menu]="!isOpenMenu"
      [class.bx-x]="isOpenMenu"
    ></i>
  </div>
  <div
    class="flex justify-center items-center flex-col px-[8px] py-5 gap-5 absolute bottom-0"
  >
    <div (click)="showPopUpReview()">
      <img
        class="rounded cursor-pointer hover:rotate-12 transition-all duration-500"
        src="../../assets/images/fc.png"
        alt=""
      />
    </div>
    <div>
      <img
        class="rounded cursor-pointer hover:rotate-12 transition-all duration-500"
        src="../../assets/images/sf.png"
        alt=""
      />
    </div>
    <div>
      <img
        class="rounded cursor-pointer hover:rotate-12 transition-all duration-500"
        src="../../assets/images/cards.png"
        alt=""
      />
    </div>
  </div>
</div>

<ng-container *ngIf="isShowReviewFC">
  <app-modal-confirm-card (close)="closePopUp()"></app-modal-confirm-card>
</ng-container>
