<app-section [isWhiteBackground]="true" title="SET IMAGE">
  <div class="flex flex-col justify-center items-center">
    <div
      class="w-[400px] p-1 border border-solid border-slate-300 rounded-md flex justify-center items-center bg-white mb-3"
    >
      <input
        #input
        type="url"
        class="text-[16px] outline-none text-center flex-grow p-2"
        placeholder="Paste your image url here ...."
        [(ngModel)]="imageUrl"
      />
    </div>
    <div class="w-auto h-[420px] relative mb-3">
      <img
        #img
        [src]="imageUrl"
        (error)="handleError()"
        class="rounded-lg object-contain w-full h-full"
      />
    </div>
    <button
      class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
      (click)="isOpenChooseAnotherImagePopUp = true"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white text-pink-700 hover:text-white rounded-md group-hover:bg-opacity-0"
      >
        Choose another image
      </span>
    </button>
  </div>

  <ng-container *ngIf="isOpenChooseAnotherImagePopUp">
    <app-modal-choose-image
      (close)="handleCloseModalChooseImage()"
      (choose)="handleChooseImage($event)"
    ></app-modal-choose-image>
  </ng-container>
</app-section>
