<!-- FAKE DOM -->
<!-- Virtual DOM for laban dictionary -->
<div class="container" style="display: none"></div>
<!-- Virtual DOM for laban synonym dictionary -->
<div class="laban-synonym" style="display: none"></div>
<!-- Virtual DOM for soha dictionary -->
<div id="soha" style="display: none"></div>
<!-- Virtual DOM for cambride-eng dictionary -->
<div id="cambride-word" style="display: none"></div>
<!-- Virtual DOM for cambride-wf dictionary -->
<div id="cambride" style="display: none"></div>
<!-- Virtual DOM for lacviet - synonym dictionary -->
<div id="lacviet-synonym" style="display: none"></div>

<!--  -->
<app-search></app-search>
<div>
  <app-tabs-menu></app-tabs-menu>
  <app-image-section></app-image-section>
  <app-meaning-section></app-meaning-section>
  <app-example-section></app-example-section>
  <app-synonym-section></app-synonym-section>
  <app-word-family-section></app-word-family-section>
</div>
