<app-modal [title]="'REVIEW CARD'" (close)="close.emit()">
  <div class="flex flex-col flex-1 max-h-full overflow-auto">
    <div class="flex-1 text-center mb-2">
      <h1
        style="
          color: #f81d54;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 19px;
        "
      >
        {{ fullWord.front }}
      </h1>
      <hr />
      <span style="font-family: 'Arial'; font-size: 19px; margin-right: 20px">{{
        fullWord.ipa
      }}</span>

      <hr />

      <h1 style="font-family: 'Arial'; font-size: 19px; color: #2c2c2c">
        {{ fullWord.engDef }}
      </h1>

      <hr />

      <h1 style="font-family: 'Arial'; font-size: 19px; color: #f81d54">
        {{ fullWord.back }}
      </h1>

      <hr />

      <div class="text-center">
        <img
          class="max-w-[300px] inline-block"
          [src]="
            fullWord.imageUrl
              ? fullWord.imageUrl
              : '../../assets/images/error.jpg'
          "
          alt=""
        />
      </div>

      <div class="syn-section">
        <hr />
        <div
          style="
            font-family: 'Arial';
            font-size: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <img
            style="width: 40px"
            src="https://icon-library.com/images/equal-icon/equal-icon-7.jpg"
          />
          <span
            id="synonym"
            style="margin-left: 10px; color: #c02929; font-size: 15px"
            >{{ fullWord.synonyms }}</span
          >
        </div>
      </div>

      <div id="fml-word-section">
        <hr />
        <div
          style="
            font-family: 'Tahoma';
            font-size: 19px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          "
        >
          <img
            style="width: 50px"
            src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/8f899e39-9177-43cb-b150-e32c7dd61e14"
          />
          <span
            style="margin-left: 20px; word-break: break-word; font-size: 15px"
          >
            <p
              style="text-align: left; color: #c02929; font-size: 15px"
              id="fml-word"
            >
              {{ exp }}
            </p>
          </span>
        </div>
      </div>

      <hr />

      <div
        style="
          font-family: 'Tahoma';
          font-size: 19px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        "
      >
        <img
          style="
            border-radius: 10px;
            width: 40px;
            height: 40px;
            margin-right: 10px;
          "
          src="https://i.pinimg.com/564x/28/f1/5a/28f15a54c83e65e70f2592f3014b7689.jpg"
        />
        <span style="word-break: break-word; font-size: 15px">
          <p style="text-align: left; font-size: 15px">
            {{ fullWord.example }}
          </p>
        </span>
      </div>
    </div>
  </div>
  <div class="text-center">
    <ng-container *ngIf="anki.deckChoose; else elseTemplate">
      <button
        type="button"
        (click)="handleAddtoDeck()"
        class="text-white w-full bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-2 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-[16px] px-5 py-2.5 text-center"
      >
        ADD THIS TO [{{ anki.deckChoose }}]
      </button>
    </ng-container>
    <ng-template #elseTemplate>
      <button
        type="button"
        (click)="isShowDeckOptions = true"
        class="text-white w-full bg-gradient-to-br from-pink-600 to-red-500 hover:bg-gradient-to-bl focus:ring-2 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-[16px] px-5 py-2.5 text-center"
      >
        CHOOSE YOUR DECK FIRST
      </button>
    </ng-template>
  </div>
</app-modal>

<div
  *ngIf="isLoading"
  class="fixed top-0 bottom-0 left-0 right-0 bg-black opacity-50 z-[999999] flex justify-center items-center"
>
  <img class="w-[600px]" src="../assets/images/loading.gif" alt="" />
</div>

<ng-container *ngIf="isShowDeckOptions">
  <app-modal-choose-deck
    (close)="isShowDeckOptions = false"
  ></app-modal-choose-deck>
</ng-container>
