<div
  class="fixed bottom-0 top-0 left-0 right-0 bg-[#2b2b2b65] z-[999] flex justify-center items-center"
  [class.anmt-appear]="isOpen"
  [class.anmt-close]="!isOpen"
>
  <div
    class="h-[90vh] min-w-[500px] rounded-xl bg-slate-50 px-8 py-3 flex flex-col relative"
    [class]="maxwidth"
  >
    <div
      class="mb-3"
      [class]="{
        'p-[10px]': title,
        'flex': title,
        'justify-between': title,
        'items-center': title,
        'border-b': title,
        'border-slate-400': title,
      }"
    >
      <ng-container *ngIf="title">
        <h1 class="text-3xl font-semibold flex-1 text-center text-pink-700">
          {{ title }}
        </h1>
      </ng-container>

      <i
        class="bx bx-x w-10 h-10 text-center text-gray-500 float-right text-4xl bg-slate-200 rounded-full hover:cursor-pointer hover:bg-slate-300 transition-all duration-200 active:scale-90"
        [class]="{
          'absolute': title,
          'right-3': title,
          'top-3': title,
        }"
        (click)="emitCLosAction()"
      ></i>
    </div>
    <ng-content></ng-content>
  </div>
</div>
